[Unit]
Description=Execute lnls-archiver-resume-pvs every hour.

[Timer]
OnActiveSec=1h
Unit=lnls-epicsarchiver-resume-pvs.service

[Install]
WantedBy=multi-user.target
