[Unit]
Description=Execute lnls-archiver-pause-pvs every hour.

[Timer]
OnActiveSec=1h
Unit=lnls-epicsarchiver-pause-pvs.service

[Install]
WantedBy=multi-user.target
